<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="
https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js
"></script>
</head>
<body>
    <h1>Data Temperature</h1>
    <canvas id="myChart"></canvas>

    <script>
      fetch('/data')
        .then(res => res.json())
        .then(config => {
          const ctx = document.getElementById('myChart').getContext('2d');
          const chart = new Chart(ctx, config);
        })
        .catch(err => console.error(err));
    </script>
</body>
</html>